* {
    font-family: 'Hind', sans-serif;
}

/* elements */
h1 {
    font-size: 5em;
    font-family: 'Mukta Mahee', sans-serif;
    line-height: 90px;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 50px;
}

img {
    border-radius: 50%;
    border: rgb(41, 38, 38) solid 7px;
    margin: 15px auto;
}

a {
    color: rgb(34, 28, 18);
}

i {
    font-size: 2em;
    margin: 20px;
}

#link-circles a:hover {
    color: rgb(221, 76, 19);
}

ul li a {
    color: #000;
}

ul {
    width: 180px;
    padding: 0;
    margin: auto;
}

li {
    list-style-type: none;
    line-height: 2.5em;
    align-content: center;
    width: 100;
    margin: auto;
}

ul li a:hover {
    text-decoration: none;
    color: tan;
}

header{
    padding: 35px 35px 0 35px;
    margin-top: 100px
    
}

p {
    padding: 25px;
}


/* classes */
.orangeText {
    color:  rgb(221, 76, 19);
}


/* id's */
#sideBar {
background: rgb(221, 76, 19);
height: 100vh;
}

#main {
height: 100vh;
}